<html>
  {{template "header.tmpl.html"}}
<body>

<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-4">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <center><img class="pepper" src="/static/images/pepper_logo.png" alt="Avatar"></center>
            </div>
            <h4 class="mb-2">Pepper</h4>
            <p class="text-muted mb-4">Shiba Inu</p>
            <div class="d-flex justify-content-between justify-padding text-center mt-5 mb-2">
              <div>
                <p class="mb-2 h5">License #</p>
                <p class="text-muted mb-0">8031910</p>
              </div>
              <div class="px-3">
                <p class="mb-2 h5">Sex</p>
                <p class="text-muted mb-0">Female</p>
              </div>
              <div>
                <p class="mb-2 h5">Weight</p>
                <p class="text-muted mb-0">25lb</p>
              </div>
            </div>
            <br>
            <div class="mt-3 mb-4 text-left">
              <p class="text-left mb-2 h5">Vaccine History</p>
            </div>
            <div class="table-responsive">
              <table class="table table-striped ">
                <tr>
                  <th scope="row">
                    <p class="text-start">
                      Leptospirosis
                    </p>
                  </th>
                  <td>
                    <p class="text-end">
                      December 02, 2020
                    </p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p class="text-start">
                      DAPP
                    </p>
                  </th>
                  <td>
                    <p class="text-end">
                      December 02, 2020
                    </p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p class="text-start">
                      Bordetella
                    </p>
                  </th>
                  <td>
                    <p class="text-end">
                      December 02, 2020
                    </p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p class="text-start">
                      Rabies
                    </p>
                  </th>
                  <td>
                    <p class="text-end">
                      January 26, 2020
                    </p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="mt-3 mb-4 text-left">
              <p class="text-left mb-2 h5">Contact</p>
              <p>
                Seattle Pet Licensing<br>
                2061 15th Avenue W<br>
                Seattle, WA 98119<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</body>
</html>

